<div class="mt-12 space-y-4 max-w-4xl mx-auto px-3">
  <p class="text-lg text-gray-700 italic">Share youtube URL:</p>
  <%= form_for @video, url: videos_path, html: {class: "flex gap-4"} do |f| %>
    <%= f.text_field :source_url, class: "rounded border-2 border-[#574b90] focus:outline-none focus:ring-0 focus:border-[#574b90] grow", placeholder: "Youtube URL" %>
    <%= f.submit "Submit", class: "block rounded px-2 border-2 border-[#574b90] bg-[#574b90] text-white" %>
  <% end %>
</div>
