<div class="flex items-center justify-between m-3 pb-3 border-b">
  <div>
    <%= link_to "MyTube", videos_path, class: "text-2xl font-bold leading-7 sm:truncate sm:text-3xl text-[#574b90]" %>
  </div>
  <div class="flex ml-4">
    <% if current_user.present? %>
      <%= render "layouts/header_login_success" %>
    <% else %>
      <%= render "layouts/header_login_form" %>
    <% end %>
  </div>
</div>
